.restaurant-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 230px; /* Fixed width for equal size */
    height: 400px; /* Fixed height for equal size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-sizing: border-box;
    margin: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically */
    justify-content: space-between; /* Space between elements */
    position: relative;
}

.restaurant-card .image img {
    width: 100%;
    height: 200px; /* Fixed height for images */
    object-fit: cover; /* Ensure images fit within the container */
    border-radius: 8px 8px 0 0;
}

.restaurant-card h2 {
    font-size: 1.5em;
    margin: 8px 0;
    text-align: center; /* Center align text */
}

.restaurant-card span {
    display: block;
    margin: 4px 0;
    color: #050505;
    word-wrap: break-word;
    text-align: center; /* Center align text */
}

.restaurant-card a,
.restaurant-card a:visited,
.restaurant-card a:active,
.restaurant-card a:hover {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent */
    cursor: pointer; /* Pointer cursor for links */
}

.restaurant-card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    transition: transform 0.3s ease-in-out;
}