

.shimmer-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
    width: 230px;
    height: 300px;
    margin: 10px;
    border-radius: 8px;
    background: #f0f0f0;
    position: relative;
    overflow: hidden;
    animation: shimmer 2s infinite;

}
.shimmer-container{
    display: flex;
    
    flex-wrap: wrap;
}